.pojemniki {
  display: flex;

  height: 150px;
}
.pojemnik {
  flex: 1;
  text-align: center;
  border: 1px solid black;
  font-size: 25px;
  padding: 20px;
  margin: 10px;
}
#pojemnik {
  text-align: center;
  font-size: 25px;
}
